
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<br />
<script src="~/App/controllers/categoria-controller.js"></script>
<div ng-app="categoriaApp" ng-controller="categoriaCtrl">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading"> Cadastro Categoria</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="txtDescricao">Descrição:</label>
                        <input type="text" class="form-control" id="txtDescricao" placeholder="Descrição" ng-model="categoria.Descricao">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="txtSlug">Slug:</label>
                        <input type="text" class="form-control" id="txtSlug" placeholder="Slug" ng-model="categoria.Slug">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-10">
                        <input name="salvar" class="btn btn-primary btn-lg" type="button" ng-click="AddCategoria(categoria)" value="Salvar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
