
@model IList<Cadastro.Admin.Models.Categoria>
@{
    ViewBag.Title = "Lista Categoria";
}

<div class="panel panel-default">
    <div class="panel-heading">Categorias cadastradas</div>
    <div class="panel-body">
        @if (Model != null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Slug</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in Model)
                {
                        <tr>
                            <td>@categoria.IdCategoria</td>
                            <td>
                                @categoria.Descricao
                            </td>
                            <td>@categoria.Slug</td>
                            <td>
                                <a name="btnExcluir" href="~/Categoria/Excluir/@categoria.IdCategoria" class="btn btn-danger pull-right">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>

    <div class="alert clearfix">
        @Html.ActionLink("Nova Categoria", "Cadastrar", "Categoria", new { @class = "btn btn-primary pull-right" })
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $().ready(function () {
            $("[name=btnExcluir]").click(function () {
                var confirmado = confirm("Tem certeza que deseja excluir á categoria?");
                if (confirmado) {
                    location.href = $(this).attr("href");
                }
            });
        });
    </script>
}

