@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Formulário</p>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Acesso formulário público</div>
            <div class="panel-body">
                <p>
                    Preencha a Url com Slug-Categoria e Slug-SubCategoria
                    Ex: "http://localhost:26490/Calcados/Esporte/"
                </p>
            </div>
        </div>
    </div>
</div>
