
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">Escolha seu formulário</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="Descricao">Slug:</label>
                    @Html.DropDownList("subCategoriaSlug", ViewBag.ListaCategoria as SelectList, new { @class = "form-control" })

                </div>
            </div>
            <div class="alert clearfix">
                <input type="button" id="btnFormulario" value="Gerar Formulário" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
</div>


<div id="dvForm">

</div>
@section scripts
{
    <script type="text/javascript">
        $().ready(function () {
            $("#btnFormulario").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Publico/Home/Formulario/',// + $('#subCategoriaSlug :selected').val() + '/' + $('#subCategoriaSlug :selected').text(),
                   data: { subCategoriaSlug: $('#subCategoriaSlug :selected').val(), categoriaSlug: $('#subCategoriaSlug :selected').text() },
                    cache: false,
                    success: function (result) {
                        alert(1);
                        //$('#dvForm').html(result);
                    },
                    error: function (request, status, error) {
                        console.log(request.statusText);
                        console.log(request.responseText);
                        console.log(status);
                        console.log(error);

                        //alert("Ocorreu um erro ao Pesquisar os contatos!" + " | " + request.responseText + " | " + request.status);
                    }
                });
            });
        });
    </script>
}